*
{
    margin: 0 auto;
    font-family: sans-serif;
}

#navbar
{
    background-color: blue;
    clear: right;
}

.navlink
{
    float: left;
    width: fit-content;
    margin: 1rem;
}

h1
{
    clear: left;
    width: fit-content;
}

#imageContainer
{
    background-color: red;
    height: 20rem;
    float: left;
    width: 20rem;
    margin: 1rem;
}

#graphContainer
{
    background-color: blue;
    height: 50rem;
    float: left;
    width: 50rem;
    margin: 1rem;
}

#tableContainer
{
    clear: left;
    margin: 1rem;
    max-height: 50vh;
    max-width: 50vw;
    overflow-x: scroll;
    overflow-y: scroll;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: .1rem .1rem;
}

.yearColumn
{
    color: red;
}